
@font-face {
    font-family: 'Neue Haas Grotesk Display Pro';
    src: url('NeueHaasDisplay-Roman.woff2') format('woff2'),
    url('NeueHaasDisplay-Roman.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html{
  cursor:wait;

}

body {
    background-color: rgb(255, 255, 255);
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    cursor:wait;
    
    text-align: left;
    }

  article{
  height: 50%;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 20%;
  margin-bottom: 20%;
  position: fixed;

}

    p{font-family: 'Neue Haas Grotesk Display Pro';
      font-size: 25pt;
    }
        
      

 
  a {
    color: blue;
    text-decoration: none;
    border-bottom: 2px solid blue;
    font-family: 'Neue Haas Grotesk Display Pro';
    font-size: 20pt;
 transition: all 0.3s ease-in;
   
    
    
  } 
  
  a:hover{
    
    color: white;
    text-decoration: none;
    -webkit-stroke-width: 3.75vmax;
    -webkit-stroke-color: blue;
    -webkit-fill-color: blue;
    border-bottom: 2px solid white;
    text-shadow: 0px 0px 30px blue;
    
  } 

 
  
  
 